.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



.listView {
  border: 10px solid red;
  height: 300px;
  overflow: auto;
  background-color: rgb(18, 238, 37);
  width: 250px;
  margin: auto;
}

ul {
  margin:0;
  padding:0;  
}
li {
  border: 5px dotted rgb(0, 0, 0);  
  list-style: none;
  background-color: rgba(255, 255, 255, 0.315);
  font-weight: bold;
  margin:20px;
  padding: 10px;
  user-select: none;
  cursor: -webkit-grab;
  transition:  all .3s ease-in-out;
}

.active {
  background-color: rgb(255, 49, 210);
}